include:
  - ../jupyter-common/jupyter-common-compose.yaml
services:
  app:
    container_name: "application-server"
    build:
      context: .
      additional_contexts:
        jupyter-extension-builder: service:jupyter-common-extension-builder
    user: "jupyter"
    restart: always
    volumes:
      - .:/workspace:cached
    ports:
      - "8888:8888"
    # Disable token authentication for Workbench proxy
    command: ["jupyter", "lab", "--ServerApp.token=''", "--ServerApp.password=''", "--ip=0.0.0.0", "--port=8888", "--no-browser"]
    networks:
      - app-network
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse
    security_opt:
      - apparmor:unconfined
networks:
  app-network:
    external: true
